html, body, #app {
    height: 100%;
    margin: 0;
  }
  
  .overview-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2; /* 设置背景颜色 */
    padding: 1rem; /* 内边距 */
    width: 100%; /* 确保填充父容器的宽度 */
    height: 100%; /* 确保填充父容器的高度 */
    box-sizing: border-box; /* 包括内边距在内的宽度和高度 */
    
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; /* 设置分块之间的间隔 */
    flex: 1;   
    overflow: auto;
  }
  
  .block {
    background-color: #ffffff; /* 分块背景色 */
    border-radius: 8px; /* 圆角矩形 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    width: 90%; /* 确保填充网格单元的宽度 */
    
  }
  
  .block1 {
    grid-column: 1 / span 3; /* 第一行占据两列 */
    width: 99%; /* 确保填充网格单元的宽度 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
   }
  
  .block2 {
    grid-column: 1; /* 第二行第一列 */
    display: flex;
    flex-direction: column;
    width: 97%; /* 确保填充网格单元的宽度 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  }
  
  .block3 {
    grid-column: 2; /* 第二行第二列 */
    display: flex;
    flex-direction: column;
    width: 97%; /* 确保填充网格单元的宽度 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  }

  .block4 {
    grid-column: 3; /* 第二行第二列 */
    display: flex;
    flex-direction: column;
    width: 97%; /* 确保填充网格单元的宽度 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  }
  
  
  .divider-hor {
    width: 1px;
    height: 100%;
    background-color: #cccccc; /* 竖线颜色 */
  }
  
  .divider-ver {
    width: 100%;
    height: 1px;
    background-color: #cccccc; /* 竖线颜色 */
  }
  
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    width: 40%;
  }
  
  .block1-top-selection {
    height: 40px; /* 固定高度 */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .block1-year-selection {

  }
  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .desc-part {
    flex: 1;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }
  
  .chart-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    height: 40px; /* 固定高度 */
    line-height: 40px; /* 垂直居中 */
  }
  
  .chart {
    flex: 1;
    background-color: #f0f0f0; /* 图表背景色 */
    border-radius: 8px; /* 圆角矩形 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px); /* 确保填充父容器的宽度，内缩2像素 */
    height: calc(100% - 4px); /* 确保填充父容器的高度，内缩2像素 */
    padding: 2px; /* 内缩2像素 */
  }
  
  .block2-title {
    text-align: left;
    font-weight: bold;
    margin-bottom: 1rem;
    height: 40px; /* 固定高度 */
    line-height: 40px; /* 垂直居中 */
  }
  
  .block2-content {
    text-align: left;
    width: 100%;
    height: calc(100% - 40px);
  }
  
  .icon {
    background-color: #e0e0e0; /* 图标背景色 */
    border-radius: 8px; /* 圆角矩形 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .custom-table th:nth-child(1) {
    width: 10%;
  }
  
  .custom-table th:nth-child(2) {
    width: 70%;
  }
  
  .custom-table th:nth-child(3) {
    width: 20%;
}

.aligned-text {
    height: 50%;
    display: grid; /* 使用 grid 布局 */
    grid-template-columns: 1fr 1fr; /* 定义两列布局 */
    align-items: center; /* 上下居中对齐 */
    justify-content:left; /* 元素靠左对齐 */
    gap: 10px; /* 设置列之间的间距 */
    padding: 0 10px; /* 上下留白为0，两侧留白10像素 */
  }
  
  .aligned-text p {
    margin: 0;
  }